<div class="d-flex">
  <div class="col-4 mx-auto bg-light">
    <h2>User info</h2>
     <div class="d-flex">
        <div class="col-6">
          <p>name</p>
        </div>
          <%- current_user.profile_image %>
        <div>
        </div>

        <div>
          <%= current_user.name %>
        </div>
     </div>

    <h2>New book</h2>


  </div>
  <div class="col-8 mx-auto bg-info">
    <h2>Books</h2>
  </div>
</div>